@import '~Styles/index'

.items-table
  &__table
    tbody,
    tfoot
      th
        text-align right

  &__item-name
  &__button-wrapper
    guterless()

  &__item-name a
    reset()
    display block

  &__button
  &__button:visited
    button()
    display block
    color --dark-color
