@import '~Styles/index'

.tab-table
  &__table
    tbody,
    tfoot
      th
        text-align right

    button
      width 100%

  &__modal-background,
  &__modal-content
    position fixed
    top 0
    right 0
    bottom 0
    left 0

  &__modal-background
    background black
    height 100%
    width 100%
    opacity .2
    z-index 10

  &__modal-content
    z-index 100
    display flex
    align-items center
    justify-content center
