button()
  reset()
  border-color --dark-color
  cursor pointer
  text-align center
  font-size --text-font * .8
  font-family system-ui
  background-color --dark-background-color

  & + &
    margin-left --base-size
