@import '~Styles/index'

.modal
  reset(--base-size (--base-size * 2))
  display grid
  grid-gap --base-size
  background white
  border-radius --base-size
  width 80%

  &__content
    display grid
    grid-gap --base-size

  &__header
    display flex
    justify-content space-between
    align-items center

  &__title
    padding 0

  &__close-icon
    font-size 2em

  &__footer
    text-align right
