@import '~Styles/index'

.people-table
  &__table
    tbody,
    tfoot
      th
        text-align right

  &__button-wrapper
    guterless()

  &__button
  &__button:visited
    button()
    display block
    color --dark-color
